body {
  background-color: #7886c7;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Makes the body take full viewport height */
  margin: 0; /* Removes any default margins */
}
canvas {
  border: 2px solid #ffd95f;
  margin: 0 auto;
  background-color: #e6b2ba;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #003092;
}
