<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Dino Game</title>
  </head>
  <body>
    <div class="text">
      <h1>Save the dino from the truck 🚚</h1>
      <h3>Press "Space" to jump</h3>
    </div>

    <canvas id="gameCanvas" width="800" height="300"></canvas>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
